<header class="header">
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <ul class="list-inline topbar_left hidden-sm hidden-xs">
            <li> <a class="welcome_text" href="javascript:void(0)"></a> </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6 d-list col-xs-12 a-right topbar_right">
          <div class="list-inline a-center f-right">
            <ul>
              <li class="topbar_currency">
                <span id="form-currency">
                  <a href="javascript:void(0)" class="current_currency"> VND <strong>đ</strong>
                    <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="currencies_list">
                    <li> <a class="currency-select" href="javascript:void(0)" name="EUR"> Euro € </a> </li>
                    <li> <a class="currency-select" href="javascript:void(0)" name="GBP"> £ Pound Sterling </a> </li>
                    <li> <a class="currency-select" href="javascript:void(0)" name="USD"> $ US Dollar </a> </li>
                    <li> <a class="currency-select" href="javascript:void(0)" name="VND"> VND đ </a> </li>
                  </ul>
                  <div class="pull-left hidden">
                    <form action="https://vision.exdomain.net/index.php?route=common/currency/currency" method="post" enctype="multipart/form-data">
                      <input type="hidden" name="code" value="">
                      <input type="hidden" name="redirect" value="https://vision.exdomain.net/">
                    </form>
                  </div>
                </span>
              </li>
              <li>
                <a href="#">Đăng nhập</a>
              </li>
              <li>
                <a href="#">Đăng ký</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mid-header"> </div>
  <div class="bg-header-nav hidden-xs hidden-sm"></div>
</header>
